body{
    background-image: url(../images/background.png);
}





.nav_bar {
    background-color: black;
    background-image: url(../images/nav_bg.png);
    display:flex;
	justify-content: space-around;
    text-align: center;
    height: 216px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_bar a{
    color: white;
}

.nav_bar a:visited{
    color: white;
}

.nav_bar a:hover{
    color: #FB7F4E;
    transition: 0.2s ease-in-out;
}

.nb_logo_title {
    display:flex;
    justify-content: center;
	justify-content: space-around;
    text-align: center;
	list-style: none;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: white;
}

.nb_logo_title a{
    text-decoration: none;
    list-style: none;
}

.nb_logo_title ul{
    list-style: none;
    margin:auto;
}

.nb_logo_title img{
    height: 217px;
    align-items: center;
}

.nb_menu{
    display: flex;
    overflow: visible;
    width: 715px;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    margin-top: 3%;
    margin-bottom: 3%;
}


.nb_menu ul{
    display:flex;
    margin-top: 1%;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    list-style: none;
}


.nb_menu li{
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.nb_menu a{
    text-decoration: none;
}






.nb_drop ul{
    margin-left: auto;
    display: flex;
    margin-top: 110%;
}

.nb_drop li{
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    margin-right: 10%;
}

.nb_drop img{
    opacity: 70%;
}


.nb_drop img:hover{
    opacity: 100%;
    transition: 0.3s ease-in-out;
}


/* ----- Nav Bar CSS located above ----- */




.para1 {
    display: block;
    text-align: center;

    background-image: url(../images/angus\ 1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
    text-shadow: 2px 4px 8px black;

    margin-bottom: 0%;
}

.para1 h1{
    padding-top: 270px;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: white; 
    margin-bottom: auto;
}

.para1 h2{
    padding-bottom: 180px;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    color: white;
    margin-top: auto;
}




/* ----- Parallax Scroll Above ----- */



.group1-section {
    margin-top: 20%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 20%;
}



.group1-section h1{
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 58px;
    color: white;

    margin-top: auto;
    margin-bottom: auto;
}


.group1-section p{
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;

    margin-top: 69px;
}



/* ----- Brief about us section above ----- */




.banner1 {
    margin-top: 324px;
    display: flex;
    text-align: center;

    background-color: #FB7F4E;

    margin-bottom: 0%;
}

.banner1 img {
    height: 50%;
    width: 50%;
}

.banner1 h1{
    max-width: 45.6%;
    max-height: 45%;
    font-family: articulat-cf, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 58px;
    color: white;

    padding-left: 54px;
    padding-right: 54px;

    padding-top: 7%;
}




/* ----- Banner 1 above ----- */


.banner2 {
    margin-top: 324px;
    display: flex;
    text-align: center;

    background-color: #FB7F4E;
    margin-bottom: 0%;
}

.banner2 img {
    max-height: 50%;
    max-width: 50%;
}

.banner2 h1{
    max-width: 45.6%;
    max-height: 45%;
    font-family: articulat-cf, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 58px;
    color: white;

    padding-left: 54px;
    padding-right: 54px;

    padding-top: 8%;
}



/* ----- Banner 2 above ----- */


.footer {
    margin-top: 30%;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    background-color: black;
    border-top: solid 6px white;
}

.footer h1{
    color: white;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}




.footer li{
    color:white;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}




.footer-1 {
    display: inline;
    margin-left: 10%;
}

.footer-1 ul{
    padding-left: 0%;
    text-decoration: none;
}

.footer-1 a{
    text-decoration: none;
}

.footer-2 a{
    text-decoration: none;
}

.footer-2 {
    display: inline;
    margin-right: 10%;
}


.footer-2 ul{
    padding-left: 0%;
}

.footer img{
    height: 217px;
    align-items: center;
}


.footer-1 a:visited{
    color: white;
}

.footer-1 a:hover{
    color: #FB7F4E;
    transition: 0.2s ease-in-out;
}

.footer-2 a:visited{
    color: white;
}

.footer-2 a:hover{
    color: #FB7F4E;
    transition: 0.2s ease-in-out;
}


/* ----- Footer above ----- */








@media screen 
    and (max-width: 768pt){


            .nav_bar{
                display: inline;
                background-image: none;
                background-color: black;
                min-height: 20%;
            }
        
            .nb_logo_title{
                margin-right: 10%;
                margin-left: 10%;
                margin-bottom: 0%;
            }


            .nb_logo_title ul{
                margin-top: 5%;
                margin-bottom: 0%;
            }


            .nb_menu{
                display: flex;
                margin-right: 10%;
                margin-left: 10%;
                padding-right: 0%;
                border: none;
                padding-bottom: 0%;
                margin-top: 0%;
                margin-bottom: 0%;
                width: fit-content;
                align-content: center;
            }

            .nb_menu ul{
                margin-top: 0%;
            }


            .nb_drop {
                margin-top: 0%;
            }



            .group1-section{
                margin-right: 10%;
                margin-left: 10%;
            }


            .banner1 img{
                display: none;
            }

            .banner1 h1{
                margin: auto;
            }

            .banner2 img{
                display: none;
            }

            .banner2 h1{
                margin: auto;
            }




    }